<div class="field">
    <%= f.date_field :date_of_birth %>
</div>

<div class="field">
  <%= f.text_field :gender %>
</div>

<div class="field">
  <%= f.custom_country_select :country %>
</div>

<div class="field">
  <%= f.text_field :postal_code %>
</div>
